@model PagedList.IPagedList<MyAccountingBook.Models.ViewModels.BooksResultViewModels>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" />

@{
    Layout = null;
    int seqno = 0;
}

    <div class="row">
        <div class="form-horizontal col-md-12">
            <table border="1" class="table table-bordered table-hover">
                <tr>
                    <th>#</th>
                    <th>@Html.DisplayNameFor(m => m.FirstOrDefault().InOut)</th>
                    <th>@Html.DisplayNameFor(m => m.FirstOrDefault().Date)</th>
                    <th>@Html.DisplayNameFor(m => m.FirstOrDefault().Amount)</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@(++seqno)</td>
                        <td>@ShowCategory.InOutColor(item.InOut)</td>
                        <td>@Html.DisplayFor(m => item.Date)</td>
                        <td>@Html.DisplayFor(m => item.Amount)</td>
                    </tr>
                }
            </table>
            <br/>
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page}))
        </div>
    </div>

