@model IEnumerable<MyAccountingBook.Models.ViewModels.BooksResultViewModels>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="row">
        <div class="form-horizontal col-md-12">
            <table border="1" class="table table-bordered table-hover">
                <tr>
                    <th>@Html.DisplayNameFor(m => m.seqno)</th>
                    <th>@Html.DisplayNameFor(m => m.InOut)</th>
                    <th>@Html.DisplayNameFor(m => m.Date)</th>
                    <th>@Html.DisplayNameFor(m => m.Amount)</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(m => item.seqno)</td>
                        <td>@Html.DisplayFor(m => item.InOut)</td>
                        <td>@Html.DisplayFor(m => item.Date)</td>
                        <td>@Html.DisplayFor(m => item.Amount)</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</body>
</html>
