@model IEnumerable<MyAccountingBook.Models.ViewModels.BooksResultViewModels>

@{
    Layout = null;
    int seqno = 0;
}

@helper InOutColor(string InOutType)
{
    if (@InOutType == "0")
    {
        <span style="color: red;">支出</span>
    }
    else
    {
        <span style="color: blue;">收入</span>
    }
}

    <div class="row">
        <div class="form-horizontal col-md-12">
            <table border="1" class="table table-bordered table-hover">
                <tr>
                    <th>#</th>
                    <th>@Html.DisplayNameFor(m => m.InOut)</th>
                    <th>@Html.DisplayNameFor(m => m.Date)</th>
                    <th>@Html.DisplayNameFor(m => m.Amount)</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@(++seqno)</td>
                        <td>@InOutColor(item.InOut)</td>
                        <td>@Html.DisplayFor(m => item.Date)</td>
                        <td>@Html.DisplayFor(m => item.Amount)</td>
                    </tr>
                }
            </table>
        </div>
    </div>

